* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
}

header .container {
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
}

header .container nav {
  display: flex;
  align-content: center;
}

header .container nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header .container nav ul li {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
}

header .container nav ul li:hover {
  color: #0282F9;
  border-bottom: 5px solid #0282F9;
}

footer .container-info {
  background: url("/images/footer-bg.jpg");
}

footer .container-info .content-info {
  width: 950px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer .container-info .content-info .content-info-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 20px;
  color: #fff;
  flex-grow: 1;
}

footer .container-info .content-info .content-info-text .info-section {
  padding-bottom: 15px;
  margin-right: 25px;
}

footer .container-info .content-info .logo-dc {
  flex-grow: 1;
  background: url("/images/dc-logo-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

footer .container-links {
  background-color: #303030;
  padding: 15px 0;
}

footer .container-links .content-links {
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer .container-links .content-links .sign-up {
  border: 3px solid green;
  padding: 15px;
  color: #fff;
}

footer .container-links .content-links .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container-links .content-links .social div {
  margin: 0 15px;
}

footer .container-links .content-links .social .text {
  color: #0282F9;
}

footer .container-links .content-links .social .social-network {
  width: 30px;
}

footer .container-links .content-links .social .social-network img {
  width: 100%;
}

.container-img {
  height: 300px;
}

.container-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.container-main {
  background-color: black;
}

.container-main .container-serie {
  position: relative;
  padding: 20px 0;
  width: 950px;
  margin: 0 auto;
  text-align: center;
}

.container-main .container-serie .current-series {
  padding: 10px;
  background: #0282F9;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
}

.container-main .container-serie .container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-main .container-serie .container-card .card {
  width: calc(16.6666666667% - 20px);
  margin: 30px 0;
  text-align: start;
}

.container-main .container-serie .container-card .card:hover .title-card {
  color: #0282F9;
}

.container-main .container-serie .container-card .card .img-card {
  height: 140px;
  margin-bottom: 15px;
  overflow: hidden;
}

.container-main .container-serie .container-card .card .img-card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-main .container-serie .container-card .card .title-card {
  color: #fff;
  font-size: 12px;
}

.container-main .container-serie .more {
  background: #0282F9;
  padding: 10px 30px;
  display: inline-block;
}

