@import "../variables.scss";

footer{
    .container-info{
        background: url('/images/footer-bg.jpg');
        
        .content-info{
            width:$width-container;
            height: 300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .content-info-text{
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: flex-start;
                padding-top: 20px;
                color: #fff;
                flex-grow: 1;
                
                .info-section{
                    padding-bottom: 15px ;
                    margin-right: 25px;
                }
            }

            .logo-dc{
                flex-grow: 1;
                background: url('/images/dc-logo-bg.png') no-repeat;
                background-size:cover;
                background-position: center;

            }
            
        }
    }
    .container-links{
        background-color: #303030;
        padding: 15px 0;

        .content-links{
            width:$width-container;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .sign-up{
                border: 3px solid green;
                padding: 15px;
                color: $color-white;
            }
            .social{
                display: flex;
                align-items: center;
                justify-content: space-between;
                div{
                    margin: 0 15px;
                }
                .text{
                    color:$color-buttons-navbar;
                }
                .social-network{
                    width:30px;
                    img{
                        width:100%;
                    }
                }
            }
        }
    }
}