@import "../variables.scss";

header {
    display: flex;
    justify-content: space-between;

    .container {

        display: flex;
        justify-content: space-between; 
        width: $width-container;
        margin:0 auto;
        nav {
            display: flex;
            align-content: center;
            
            ul{
                display: flex;
                align-items:center;
                list-style: none;
                li{
                    padding: 0 10px; 
                    height:100%;
                    display: flex;
                    align-items: center;
                    border-bottom: 5px solid transparent;

                    &:hover{
                        color: $color-buttons-navbar;
                        border-bottom: 5px solid $color-buttons-navbar;
                    }
                }
            }
        }

    }
    
}